body {
    margin: 0;
    padding: 0;
    background-color: #1d1c1c;
    font-family: 'Press Start 2P', monospace;
    color: #000;
}

header {
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-bottom: 2px solid #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: #2b2b2b;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.titulo {
    color: #00e0ff;
    font-weight: bold;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 16px;
    margin-left: 25px;
}

nav a.ativo {
    color: #000;
}

.icone-perfil {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

main {
    background-color: #d9d9d9;
    margin: 40px;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}

.conteudo p {
    font-size: 18px;
    font-weight: bold;
}
