body {
    margin: 0;
    padding: 0;
    background-color: #1d1c1c;
    font-family: 'Press Start 2P', monospace;
    color: #00e0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.logo-area {
    text-align: center;
}

.logo {
    width: 250px;
    margin-top: 10px;
}

.titulo {
    color: #00e0ff;
    font-size: 24px;
}

.login-box {
    background-color: #d9d9d9;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 280px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

label {
    color: #888;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.entrar {
    background-color: #00e0b3;
    color: #000;
}

.criar {
    background-color: #00aaff;
    color: #000;
}

.btn:hover {
    opacity: 0.9;
}
